<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="totalsectioncard">

        {% for section in sections %}
            <div class="section_card">
                <div class="sectionmainimg">
                <a href="{% url 'news_list' section.title %}">
                    <img id="sectionimg" src="{% if section.picture %}{{ section.picture.url }}{% endif %}">
                </a>
                </div>
                <div class="sectiontitle">
                <a href="{% url 'news_list' section.title %}">{{ section.title }}</a>
                </div>
            </div>



        {% endfor %}
    </div>
{% endblock %}