<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
    <div class="main_newcontent">
    <div class="textfield">
    <div class="newdatemaintext">
        {{ news.date }}
            </div>
    <div class="maintext">
        <div class="maintexttitle">
        {{ news.title }}
        </div>
        <p>
        {% if news.picture %}

            {% if news.picture %}
                <p><img class="newdetailimage" src="{{ news.picture.url }}"></p>
            {% endif %}
            {{ text_part1 }}
            {% if news.picture2 %}
                <p><img class="newdetailimage control" src="{{ news.picture2.url }}"></p>
            {% endif %}
            {{ text_part2 }}
            {% if news.picture3 %}
                <p><img class="newdetailimage" src="{{ news.picture3.url }}"></p>
            {% endif %}
            {{ text_part3 }}
        {% else %}
            {{ news.text }}
        {% endif %}

    </div>

    </div>
    </div>
{% endblock %}