{% extends 'base.html' %}
{% load static %}
{% load news_tags %}
{% block content %}
    

    <div class="newstable">

        <div class="sortnews">
            <form action="{% url 'news_list' current_section %}" method="GET">
                {% csrf_token %}
                <div class="lbl"></div>
                <label for="sort_field">Sort by:</label>
                <select name="sort_field" id="sort_field">
                    <option value="-date">Date</option>
                    <option value="title">Name</option>
                    <option value="-like">Rating</option>
                </select>
                <input type="submit" value="Do it!">
            </form>
        </div>

        {% for new in page_obj %}
                <div class="newicon" >
                <a href="{{ new.get_absolute_url }}">
                    <div class="newstableimage">
                        {% if new.picture %}
                            <img id="scale" src="{{ new.picture.url }}">
                        {% else %}
                            <img id="scale" src="{% static 'newscontent/images/fon.jpg' %}">
                        {% endif %}
                    </div>
                    <div class="newicontitle">
                        {{ new.title|truncatechars:20 }}
                    </div>
                    <div class="newicontext">
                        <p>{{ new.text|truncatechars:55 }}</p>
                    </div>
                    </a>
                    <div class="newrating">
                        <div class="newlike">
                            <div class="newlikebtn">
                                <input id="{% if logged %}lk{% else %}bk{% endif %}" class="lk" type="image" src="{% static 'newscontent/images/like-64x64.png' %}" value="{{ new.id }}">
                                <div id="likenumb{{ new.id }}" class="likenumb">
                                    {{ new.like }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="newdatetable">
                        {{ new.date }}
                    </div>
                </div>
                

        {% endfor %}
        <div class="pagination_pages">
            {% include 'pagination.html' with page=page_obj%}
        </div>
    </div>
    
    <div class="create_new">
        <a href="{{ current_section.get_absolute_create_url }}">CREATE NEW</a>
    </div>

{% endblock %}
