/* fonts */
@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font: 5px;
  src: url('../fonts/Varela/varela-round-v13-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Varela Round Regular'), local('VarelaRound-Regular'),
       url('../fonts/Varela/varela-round-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Varela/varela-round-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Varela/varela-round-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Varela/varela-round-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Varela/varela-round-v13-latin-regular.svg#VarelaRound') format('svg'); /* Legacy iOS */
}

/* noto-sans-regular - latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Noto-sans/noto-sans-v9-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans'), local('NotoSans'),
       url('../fonts/Noto-sans/noto-sans-v9-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Noto-sans/noto-sans-v9-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Noto-sans/noto-sans-v9-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Noto-sans/noto-sans-v9-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Noto-sans/noto-sans-v9-latin_cyrillic-regular.svg#NotoSans') format('svg'); /* Legacy iOS */
}